* {
  color: #333232;
  background-color: #eee;
}

input {
  line-height: 2rem;
  border-radius: 0.3rem;
  background-color: transparent;
  color-scheme: initial;
  border: 1px solid #333232;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
